<div class="container">
    <div class="row">
        <div class="col-10 offset-1">

            <h1>
                Kapcsolat, elérhetőség
            </h1>
            <ul class="lista">
                <li>András Masszázs: 9023 Győr, Ifjúság krt. 31/fszt/1. – 1-es kapucsengő</li>
                <li>Miami Fitness Masszázs: 9024 Győr, Vasvári P. u. 1/A – Győr Pláza, Miami Fitness Club. – A hatályos
                    járványügyi
                    intézkedések miatt a Miami Fitness zárva tart!</li>
                <li>Telefon: +36202394303</li>
                <li>Facebook: <a href="http://www.facebook.com/andrasmasszazs">www.facebook.com/andrasmasszazs</a></li>
                <li>Instagram: <a href="http://www.instagram.com/kozmaandras76">www.instagram.com/kozmaandras76</a>
                </li>
            </ul>
        </div>
    </div>
</div>