<div class="container-fluid mx-0 px-0 ">
    <div class="row d-flex flex-row">
        <div class="col-12 col-lg-7 "><img src="./assets/agy.jpg" class="w-100" alt="Masszázságy"></div>
        <div class="col-12 col-lg-5">
            <h1>
                Szolgáltatások
            </h1>
            <ul class="lista">
                <li>Frissítő masszázs, fej- és migrénmasszázs</li>
                <li>Svéd masszázs</li>
                <li>Lágy csontkovácsolás</li>
                <li>Ízületi kimozgatások</li>
                <li>Sportolók masszázsa</li>
                <li>Kinesio tape kezelés</li>
                <li>Lávaköves és bambusz masszázs</li>
                <li>Gerincregeneráló, tartásjavító kezelés</li>
                <li>Manager masszázs ( irodai székmasszázs)</li>
                <li>Gépi masszázsok: Ceragem jadeköves masszázságy, vibrációs és infravörös masszázspisztoly kezelés)
                </li>
            </ul>

        </div>
    </div>
</div>