<div class="container pt-5" id="Bemutat">
    <div class="row">
        <h1>
            Bemutatkozás
        </h1>
    </div>
    <div class="row d-flex flex-row">
        <div class="col-6">
            <img src="./assets/andras.jpg" class="w-100" alt="Kozma András">
        </div>
        <div class="col-6 bemutat">
            <h3>
                Kozma András vagyok.
            </h3>

            1994 óta dolgozom a segítő szakmában. A személyre szabott kezelések,
            terápiák híve vagyok. Masszőr
            munkám mellett a győri Bárczi Gusztáv Iskola gyógypedagógusa vagyok. Edzőként az Esély SE korosztályos
            csapatainak
            tartok labdarúgó edzéseket.
            Legjobb edzői eredmény: Speciális Olimpia Labdarúgás-Gothia Cup. Svédország I. helyezés

            <h3 class="my-3">
                A masszázs
            </h3>

            A masszázs része a fizioterápiának, a test felületén végzett meghatározott fogások sorozata. A fogásokat
            megfelelően
            adagoljuk, a sorrendiséget felépítjük. Kézzel, géppel, valamint kiegészítő eszközökkel végezzük a masszázst.
            A kezeléseket alkalmazhatjuk fájdalomcsillapításra, közérzetjavításra, sportolás segítésére.
            Ellenjavallatok:
            Láz, akut gyulladás, fertőző betegségek, kezeletlen magas vérnyomás, előrehaladott daganatos betegségek,
            súlyos
            epilepszia, cselekvőképtelen állapot, stb.
        </div>
    </div>
</div>
<section class="vegzettseg">

    <div class="row pt-5" id="Vegzettsegek">
        <div class="col-6 offset-3">
            <h2 class="my-3">
                Végzettségeim
            </h2>
            <ul class="lista">
                <li>Szociálpedagógus</li>
                <li>Gyógypedagógus (tanulásban és értelmileg akadályozottak pedagógiája)</li>
                <li>Konfliktuskezelési és mentálhigiénés tréning</li>
                <li>UEFA Grassroots edző-labdarúgás</li>
                <li>Svédmasszőr, nyirokmasszőr, lágy csontkovács terapeuta</li>
                <li>Kinesio tape tanfolyam</li>
                <li>Gerincregeneráló masszőr</li>
                <li>Lávaköves és bambusz masszázs terapeuta</li>
                <li>Fej- és migrénmasszázs</li>
            </ul>


        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <img src="./assets/oklevel.jpg" class="w-100" alt="oklevél">
        </div>
    </div>
</section>
<section class="partner pt-5" id="partnerek">
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h2>Partnerek:</h2>
                <ul class="lista">
                    <li>Miami Fitness Club győr</li>
                    <li>KSE Győrladamér-Utánpótlás</li>
                    <li>Kölyökcsapda Győr</li>
                    <li>Esély SE-Győr</li>
                    <li>Jancsifalusi „Gyökerek” Nyugdíjas Klub</li>
                    <li>Napsugár Nyugdíjas Klub</li>
                </ul>







            </div>
        </div>
    </div>
</section>