<div class="jumbotron">
    <h1 class="display-4">Köszöntő</h1>
    <p class="lead">Szeretettel köszöntöm a honlapomon! Kozma András vagyok, közel 27 éve foglalkozom emberekkel.
        Tapasztalatom szerint a
        mai világban nagy igény mutatkozik a test és a lélek egyensúlyban tartására, karbantartására. Sok más
        célravezető
        megoldás mellett a masszázs is megoldást kínál, legyen szó konkrét problémáról, vagy kellemes lazításról. </p>
    <hr class="my-2">
    <p>Keressenek,
        kérdezzenek bizalommal, hogy megtaláljuk a legmegfelelőbb kezelési formát!</p>
    <a class="btn btn-primary btn-lg mx-5" href="#Bemutat" role="button">Bemutatkozás</a>
    <a class="btn btn-primary btn-lg mx-5" href="#Vegzettsegek" role="button">Végzettségeim</a>
    <a class="btn btn-primary btn-lg mx-5" routerLink="szolg" role="button">Szolgáltatások</a>
    <a class="btn btn-primary btn-lg mx-5" routerLink="ar" role="button">Árak</a>
    <a class="btn btn-primary btn-lg mx-5" routerLink="modal" role="button">Bejelentkezés</a>

</div>
<app-bemutatkozas></app-bemutatkozas>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>