<div class="jumbotron">
    <h1 class="display-4">Köszöntő</h1>
    <p class="lead">Szeretettel köszöntöm a honlapomon! Kozma András vagyok, közel 27 éve foglalkozom emberekkel.
        Tapasztalatom szerint a
        mai világban nagy igény mutatkozik a test és a lélek egyensúlyban tartására, karbantartására. Sok más
        célravezető
        megoldás mellett a masszázs is megoldást kínál, legyen szó konkrét problémáról, vagy kellemes lazításról. </p>
    <hr class="my-2">
    <p>Keressenek,
        kérdezzenek bizalommal, hogy megtaláljuk a legmegfelelőbb kezelési formát!</p>
    <a class="col-8 col-lg-2 btn btn-primary btn-lg mx-2 my-2" href="#Bemutat" role="button">Bemutatkozás</a>
    <a class="col-8 col-lg-2 btn btn-primary btn-lg mx-2 my-2" href="#Vegzettsegek" role="button">Végzettségeim</a>
    <a class="col-8 col-lg-2 btn btn-primary btn-lg mx-2 my-2" routerLink="szolg" role="button">Szolgáltatások</a>
    <a class="col-8 col-lg-2 btn btn-primary btn-lg mx-2 my-2" routerLink="ar" role="button">Árak</a>
    <a class="col-8 col-lg-2 btn btn-primary btn-lg mx-2 my-2" routerLink="modal" role="button">Bejelentkezés</a>

</div>
<app-bemutatkozas></app-bemutatkozas>