<div class="container pt-5">
    <div class="row mx-auto">
        <div class="col-12 col-lg-10">

            <h1>Árak</h1>
            <h4>Svéd, relaxáló, sport masszázs</h4>
            <h5>30 perc: 2500,- Ft, 45 perc: 3500,- Ft. 60 perc: 4800,- Ft</h5>
            <h4>Meleg kókuszolajos masszázs illóolajokkal</h4>
            <h5>30 perc: 2800,- Ft 60 perc: 4900,- Ft</h5>
            <h4>Gerincregeneráló masszázs, lágy csontkovácsolás, ízületi kimozgatások</h4>
            <h5>60 perc: 5500,- Ft</h5>
            <h4>Lávaköves masszázs illóolajokkal, bambusszal</h4>
            <h5>60 perc: 5000,- Ft</h5>
            <h4>Nyirokmasszázs (pl. alsó végtagok)</h4>
            <h5>Ár előzetes konzultáció alapján</h5>
            <h4>Kinesio tape</h4>
            <h5>1500,- Ft-tól</h5>
            <h4>Irodai székmasszázs</h4>
            <h5>15 perc: 1600,- Ft</h5>
            <h4>Ceragem jadeköves masszázskezelés</h4>
            <h5>1 alkalom: 1500,- Ft</h5>

            <div class="row mx-auto">
                <div class="col-12 col-lg-6 mx-auto"><img src="./assets/utalvany.jpg" class="w-100" alt=""></div>
            </div>
            <div class="col-12">

                <p class="promo mx-auto">Ajándékutalvány, bérlet folyamatosan vásárolható</p>
            </div>

            <h2>Számlázás, adatkezelés</h2>
            <p>A kezelésekről számlát állítok ki a hatályos jogszabályok és a vonatkozó GDPR rendelkezések figyelembe
                vételével!</p>
        </div>
    </div>
</div>